extends layout 

block content
	.jumbotron(style='background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);')
		h1.display-4
			strong What is This ?
		p.lead
			strong
				| This is a simple employee management system. It is really easy to use. A human resources management system (HRMS) or human resources information system (HRIS) is a form of human resources (HR) software that combines a number of systems and processes to ensure the easy management of human resources, business processes and data. Human resources software is used by businesses to combine a number of necessary HR functions, such as storing employee data, managing payrolls, recruitment processes, benefits administration, and keeping track of attendance records. It ensures everyday human resources processes are manageable and easy to access. It merges human resources as a discipline and, in particular, its basic HR activities and processes with the information technology field, whereas the programming of data processing systems evolved into standardized routines and packages of enterprise resource planning (ERP) software. On the whole, these ERP systems have their origin from software that integrates information from different applications into one universal database. The linkage of its financial and human resource modules through one database is the most important distinction to the individually and proprietarily developed predecessors, which makes this software application both rigid and flexible.
		hr.my-4
		p
			strong It uses express framework for server and mongodb for Database.
		a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
