doctype html
html
  head
    title
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  body
    // Image and text
    nav.navbar.navbar-light(style='background-color: #e3f2fd;')
      a.navbar-brand(href='#')
        | WIZE COMMERCE EMPLOYEE MANAGEMENT SYSTEM
    nav.navbar.navbar-expand-lg.navbar-light.bg-dark
      #navbarNavAltMarkup.collapse.navbar-collapse
        a.nav-item.nav-link(href='/home') Home
        a.nav-item.nav-link(href='/about') About
        a.nav-item.nav-link(href='/contact') Contact
        a.nav-item.nav-link(href='/profile') Profile
      if !currentUser
        a.nav-item.nav-link(href='/login') Login
        a.nav-item.nav-link(href='/register') Register
      if currentUser
        a.nav-item.nav-link(href='/logout') Log out
    
    block content
    
    footer.page-footer.font-small.blue.bg-light
      // Copyright
      .footer-copyright.text-center.py-3
        | © 2019 Copyright:
        a(href='https://mdbootstrap.com/education/bootstrap/')  NischalTyagi.com

