extends layout

block content

	.d-flex.justify-content-center.vh-100(style = 'background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);')
		form.w-50.mt-3(action='/login', method='POST')
			.d-flex.justify-content-center
				label.h1.display-4 LOGIN
			.form-group
				label.h3(for='exampleInputEmail1') Email address
				input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email' , name='email',required='')
			.form-group
				label.h3(for='exampleInputPassword1') Password
				input#exampleInputPassword1.form-control(type='password', placeholder='Password' , name='password',required='')
			.d-flex.flex-row-reverse
				button.btn.btn-primary.w-25(type='submit') Submit

