extends ../basic/layout

block content
	.vh-100.bg-light(style='background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);')
		p.display-1.ml-4 There Are no Records of Salary For the Entered Month and Year
