extends ../basic/layout

block content
	.d-flex.justify-content-center.w-100(style='background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);')
		p.display-4.vh-100 You are not authorized to see the profile page

